/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Контейнер для загрузки файла */
.upload-container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Зона для загрузки файла */
.upload-area {
    border: 2px dashed #007bff;
    padding: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.upload-area:hover {
    background-color: #f0f0f0;
}

.upload-area p {
    font-size: 16px;
    color: #007bff;
    margin: 0;
}

/* Статус загрузки */
#upload-status {
    margin-top: 20px;
    font-size: 16px;
    color: green;
}

/* Контейнер для флажков */
#checkbox-container {
    margin-top: 20px;
    display: none;
    text-align: left;
    padding-left: 20px;
}

#checkbox-container label {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

/* Кнопка для обработки изображения */
#process-image {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#process-image:hover {
    background-color: #0056b3;
}

/* Контейнер для изображения */
#image-container {
    margin-top: 30px;
}

#image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
