<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты обработки изображения</title>
    <link href="static/style_process.css" rel="stylesheet">
</head>
<body>
    <h1>Изображение было успешно обработано!</h1>
    <p>Здесь будут отображаться результаты обработки изображения.</p>
    <p>Вы можете добавить логику для отображения изображений и других данных по вашему усмотрению.</p>
    <a href="/">Перейти на главную страницу</a>
</body>
</html>
